body {
  background-color: red;
}
.contact-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
  background-color: red;
}

.contact-img-container img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.contact-form-container {
  max-width: 500px;
  width: 100%;
  background: red;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.contact-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid red;
  border-radius: 5px;
  font-size: 16px;
}

.contact-input-group {
  display: flex;
  gap: 10px;
}

.contact-input-group .input-field {
  flex: 1;
}

.submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007bff;
  color: red;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.submit-btn:hover {
  background-color: #0056b3;
}
